<mt:app:ContentFieldOptionGroup type="markdown_it">
  <mtapp:ContentFieldOption
    id="markdown-it-body-label"
    label="<__trans phrase="Body Label">">
    <input ref="body_label" type="text" name="body_label" id="markdown-it-text-body-label-fld" class="form-control w-25" value={ options.body_label || 0 }>
  </mtapp:ContentFieldOption>

  <mtapp:ContentFieldOption
    id="markdown-it-preview-label"
    label="<__trans phrase="Preview Label">"
  >
    <input ref="preview_label" type="text" name="preview_label" id="markdown-it-preview-value-label-fld" class="form-control w-25" value={ options.preview_label || 0 }>
  </mtapp:ContentFieldOption>
</mt:app:ContentFieldOptionGroup>
